.main__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.hero-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0 50px;
  margin-top: 156px;
  & .hero-block__title {
    color: var(--font-color-white-primary);
    font-size: 34px;
    line-height: 41px;
    font-weight: 700;
    @media (max-width: 768px) {
      color: red;
    }
  }
  & .hero-block__text {
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;
    color: var(--font-color-white-secondary);
  }
  & .hero-block__text-highlight {
    color: var(--font-color-white-primary);
  }
  & .hero-block__button {
    padding: 10px 36px;
    background-color: #2c2c2e;
    color: var(--font-color-white-primary);
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 12px;
    transition: var(--transition-default);
    &:hover {
      background-color: #ffffff1f;
    }
    &:active {
      background-color: #ffffff29;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  padding: 0 50px;
  & .skills__text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
    text-align: end;
    max-width: 244px;
    & .skills__title {
      color: var(--font-color-white-primary);
      font-size: 34px;
      line-height: 41px;
      font-weight: 700;
    }
    & .skills__text {
      color: var(--font-color-white-secondary);
      font-size: 17px;
      line-height: 22px;
      & .skills__text-highlight {
        color: var(--font-color-white-primary);
      }
    }
  }
  & .skills__list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    grid-auto-rows: auto;
    justify-content: end;
    gap: 20px;
    & .skills__list-item {
      padding: 10px 22px;
      background-color: #1c1c1e;
      border-radius: 12px;
      &:hover {
        background-color: #2c2c2e;
      }
      &:hover .skills__list-card .skills__list-image {
        filter: brightness(1);
      }
      &:hover .skills__list-card .skills__list-title {
        color: var(--font-color-white-primary);
      }
      & .skills__list-card {
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: center;
        & .skills__list-image {
          width: 136px;
          height: 136px;
          filter: brightness(0.3);
        }
        & .skills__list-title {
          color: var(--font-color-white-secondary);
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
  }
}

.about-me {
}

.experience {
}
